<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title admin</title>
</head>
<body>
<h1>home</h1>

<form method="POST" th:action="@{/home}" th:object="${text}">
    <input type="text" th:field="*{text}" value="enter username"/><br>
    <input type="submit" value="Submit Order">
</form>
<div th:each="text : ${textList}">
    <span th:text="${text.text}"></span>
</div>

<!--<ul><li th:each="name : ${#vars.getVariableNames()}"><strong th:text="${name}"></strong>: <span th:text="${#vars.getVariable(name)}"></span></li></ul>-->

</body>
</html>